{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'bluma.min.css' %}" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
    {% block page %}
    {% endblock  %}
</body>
</html>