
{% comment %} users modals {% endcomment %}

<!-- lock Modal -->
<div class="modal fade" id="lockModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lock a user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h3 style="color:red;"> are you sure you want to lock that user?</h3>
      </div>
      <div class="modal-footer">
        <a  class="btn btn-secondary" data-dismiss="modal">Close</a>
        <a  href="/manager/users/lock/{{user.id}}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- delete Modal -->
<div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete a user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h3 style="color:red;">are you sure you want to delete that user?</h3>
      </div>
      <div class="modal-footer">
        <a  class="btn btn-secondary" data-dismiss="modal">Close</a>
        <a  href="/manager/users/delete/{{user.id}}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- lock Modal -->
<div class="modal fade" id="lockModal{{admin.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lock a admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <h3 style="color:red;"> are you sure you want to lock that admin?</h3><br>
       <p>note that a locked admin can be unlocked and be able to login again.</p>
      </div>
      <div class="modal-footer">
        <a  class="btn btn-secondary" data-dismiss="modal">Close</a>
        <a  href="/manager/admins/lock/{{admin.id}}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- promote Modal -->
<div class="modal fade" id="promoteModal{{admin.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">promote an admin to super user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h3 style="color:red;"> are you sure you want to promote that admin to super user?</h3> 
       <br>
       <p>note that you no longer can control that admin after promotion. only database admin can</p>
      </div>
      <div class="modal-footer">
        <a  class="btn btn-secondary" data-dismiss="modal">Close</a>
        <a  href="/manager/admins/promote/{{admin.id}}" class="btn btn-danger">Yes</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
