{% extends 'users/base.html' %} {% block content %}
<div class="container mt-5">
  <h3 class="mb-5 text-primary">
    We've emailed you instructions for setting your password, if an account
    exists with the email you entered. You should receive them shortly.
  </h3>
  <h3 class="mb-5 text-primary">
    If you don't receive an email, please make sure you've entered the address
    you registered with, and check your spam folder.
  </h3>
</div>
</div>
<div style="text-align: center;"" class="container mt-4 mb-4"><a class="btn btn-primary" href="/">Homepage</a></div>
{% endblock %}
