{% extends 'users/base.html' %} {% load static %} {% block content %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login200" style="text-align: center;">
      <div class="container">
        <h3 class="text-success">
          Your password has been set. You may go ahead and
          <div class="container mt-5 mb-5" style="text-align: center;">
            <a class="btn-lg btn-primary" href="/users/login">Login</a>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
